* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #ffffff;
}

.header {
    height: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: flex;
    margin-top: 20px;
}

.logo-text {
    margin-top: 14px;
    margin-bottom: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #373737;
}

.logo-text_info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #636363;
}

.header-nav {
    width: 358px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 0;
    list-style: none;
}

.header-logo {
    padding-left: 11px;
}

.header-menu>li {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu>li:hover {
    position: relative;
}

.header-menu>li:hover>a {
    color: #00BA59;
}

.header-menu>li:hover::before,
.header-menu>li:hover::after {
    color: #00BA59;
    content: "";
    position: absolute;
    width: 86.6px;
    height: 11.25px;
    left: -50%;
}

.header-menu>li:hover::before {
    top: 0;
    background-image: url("../assets/img/Polygon 2.png");
}

.header-menu>li:hover::after {
    bottom: 0;
    background-image: url("../assets/img/Polygon 3.png");
}

.header-menu-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #636363;
}

.number-phone {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #303030;
}

.call-back_link {
    padding-left: 119px;
    padding-top: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #00BA89;
}

.link-call {
    color: #00BA89;
}

.number-phone {
    margin-top: 23px;
}

.super-maket {
    padding-top: 101px;
    padding-left: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    color: #00BA89;
}

.maket-naturally {
    padding-top: 10px;
    padding-left: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #373737;
}

.maket {
    position: relative;
    height: 848px;
    left: 0px;
    background-image: url(../assets/img/bg\ \(2\).png);
    background-repeat: no-repeat;
    overflow: hidden;
    max-width: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    margin: auto;
    max-width: 1170px;
}

.img-leaf {
    position: absolute;
}

.img-maket {
    position: absolute;
    left: 604px;
}

.choice-position {
    margin-top: 60px;
    margin-left: 18px;
}

.selection-position {
    display: flex;
}

.category {
    margin-bottom: 43px;
}

.category-choice {
    margin-top: -10px;
    margin-left: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    color: #373737;
}

.frame-text {
    margin-left: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #636363;
}

.frame-text::before {
    content: url(../assets/img/Ellipse\ 4.png);
    padding-right: 6px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 8px;
    border: 0;
    width: 260px;
    height: 80px;
    background: linear-gradient(180deg, #00BA89 0%, #00BA34 100%);
    box-shadow: 0px 15px 20px #06982F;
    border-radius: 100px;
}

.read-more {
    margin-right: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

button:active,
button:focus {
    outline: none;
}

.leaf-pos_4 {
    top: 679px;
    left: 709px;
}

.leaf-pos_1 {
    top: 123.5px;
    left: 108px;
}

.leaf-pos_2 {
    top: 267px;
    left: 0;
}

.leaf-pos_3 {
    top: 578px;
    left: 108px;
}

.title-info {
    padding: 42px 0 54px 293px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #373737;
}

.title-info::after {
    content: url(../assets/img/animated-wave.png);
    position: absolute;
    width: 270px;
    height: 12.48px;
    left: 290px;
    top: 79px;
}

.img-plant {
    margin-left: -154px;
    margin-top: 60px;
}

.video {
    position: absolute;
    height: 446px;
    top: 97px;
    z-index: 1;
    left: 0;
    transform: translateX(-336px);
}

.company-video {
    background-image: url(../assets/img/img.png);
    background-position: 203px 60px;
    background-repeat: no-repeat;
    height: auto;
}

.company-video .wrapper {
    padding-top: 145px;
    padding-left: 297px;
}

.img-player {
    position: absolute;
    top: 0;
    left: 0;
}

.company-info {
    position: relative;
    margin-left: 20px;
    max-width: 870px;
    background: #FFFFFF;
    border: 10px solid #F7F7F7;
    box-sizing: border-box;
    border-radius: 20px;
}

.detally {
    padding: 0 80px 24px 290px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #636363;
}

.title-services {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #373737;
    margin: 10px auto;
    width: 270px;
    margin-bottom: 62px;
    padding-top: 94px;
    padding-left: 35px;
}

.title-services::after {
    position: absolute;
    content: url(../assets/img/animated-wave.png);
    width: 270px;
    height: 12.48px;
    bottom: 0;
    left: 21px;
}

.services {
    background-image: url(../assets/img/Rectangle\ 18.png);
}

.category-cards {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 119px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: calc(33.333% - 20px);
    height: 492px;
}

.img-card {
    width: 310px;
    height: 212px;
    transition: all 0.3s;
}

.img-card__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s;
}

.img-card__wrap:hover {
    transform: scale(1.22);
}

.services-list {
    margin-left: 27px;
    margin-top: 4px;
}

.services-description {
    position: relative;
    padding-left: 27px;
    padding-bottom: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #636363;
    list-style-type: none;
}

.services-description::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: #C4C4C4;
}

.card:hover .services-description::before {
    background-color: #00BA89;
}

.call-back {
    width: 361px;
    margin: auto;
}

.call-back_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 316px;
    top: 51px;
    left: 396px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-call {
    margin-bottom: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #373737;
    text-transform: uppercase;
    text-align: center;
}

.call-contact {
    margin-bottom: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #636363;
}

.title-services {
    margin-top: 15px;
    margin-bottom: 47px;
}

input {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 100px;
    width: 370px;
    height: 80px;
    outline: none;
}

::-webkit-input-placeholder {
    text-align:center;
}
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
}
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
}
    
    :-ms-input-placeholder {  
       text-align:center; 
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 370px;
    height: 80px;
    background: linear-gradient(180deg, #00BA89 0%, #00BA34 100%);
    box-shadow: 0px 15px 20px #06982F;
    border-radius: 100px;
    outline: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #8C8C8C;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.glass {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0007;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    position: relative;
    width: 770px;
    height: 500px;
    background-image: url("../assets/img/Rectangle 18.png");
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

[hidden] {
    display: none !important;
}

.img-call {
    position: absolute;
    top: 71px;
    left: -65px;
}

.img-call_1 {
    position: absolute;
    top: 419px;
    right: -83px;
}

.img-call_2 {
    position: absolute;
    top: -47px;
    right: 736px;
}

.policy {
    position: absolute;
    top: 508px;
    left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #484848;
}

@media (max-width: 1224px) {
    .company-video .wrapper {
        padding-left: 0;
    }

    .category-cards {
        flex-wrap: wrap;
    }

    .company-info {
        margin-left: auto;
        margin-right: auto;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        transform: none;
        margin-left: auto;
        margin-right: auto;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }

    .video-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .img-player {
        left: auto;
        top: auto;
    }

    .detally {
        padding-left: 30px;
        padding-right: 30px;
        order: 2;
    }

    .company-info {
        display: flex;
        flex-direction: column;
    }

    .title-info {
        display: block;
        order: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        position: relative;
    }

    .title-info::after {
        top: 30px;
        left: calc(50% - 135px);
    }
}

@media (max-width: 992px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 370px;
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .header-container {
        max-width: 768px;
    }

    .wrapper {
        overflow: hidden;
    }

    .category-cards {
        flex-direction: column;
        align-items: center;
    }

    .img-maket {
        left: 435px;
    }

    .card {
        width: 100%;
    }

    .img-call_2 {
        right: 684px;
    }

    .modal {
        width: 94%;
    }

    .call-back_form {
        width: 36%;
    }

    input {
        width: 106%;
    }

    #btn {
        width: 106%;
    }

}

@media (max-width: 375px) {
    .header-container {
       max-width: 375px;
    }

    .header-nav {
        display: none;
    }

    .logo-text {
        line-height: 10px;
    }

    .logo-text_info {
        font-size: 11px;
    }

    .logo-text {
        font-size: 11px;
        line-height: 11px;
    }

    .number-phone {
        font-size: 11px;
    }

    .call-back_link {
        font-size: 8px;
        line-height: 16px;
        padding-top: 0;
        padding-left: 68px;
    }

    .frame-text {
        letter-spacing: -1.9px;
    }

    .btn {
        margin: auto;
    }

    .title-info::after {
        top: 21px;
    }
    .img-maket {
        width: 50%;
    }

    .modal {
        width: 90%;
    }

    .img-call_2 {
        right: 299px;
        width: 15%;
    }

    .title-call {
        font-size: 18px;
        line-height: 21px;
    }

    .call-contact {
        font-size: 10px;
    }

    input {
        width: 169%;
        height: 50px;
    }

    #btn {
        width: 169%;
        height: 50px;
    }

    .img-call {
        width: 47%;
        top: 110px;
        left: -24px;
    }

    .call-back_form {
        width: 100px;
        left: 176px;
        top: 70px;
    }

    .read-more {
        font-size: 12px;
    }

}

@media (max-width: 320px) {
    .frame-text {
        letter-spacing: -1.9px;
    }

    .call-back_form {
        left: 147px;
    }

    .img-call_2 {
        right: 256px;
    }
}